.team {
  background-image: url("../../assets/team/back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.info-tag {
  top: -1.5vw;
}

.info-tag-name {
  top: .2vw;
  left: 2.5vw;
}

.info-text {
  padding: 3vw 2.5vw 0 2.5vw;
}

.team-logo {
  margin-top: 8vh
}

.member-info {
  top: 60vh;
}

.info-tag-mail {
  bottom: 1vw;
  right: 1vw;
}

.team-member {
  top: 30vh;
  height: 30vh;
  width: 80vw;
}

.team-member-0 {
  margin-top: auto;
  bottom: 0;
  left: 5vw;

  height: 22vh;
  opacity: 0.4;
}

.team-member-1 {
  bottom: 0;
  left: 16vw;

  height: 26vh;
  opacity: 0.4;

}

.team-member-2 {
  bottom: 0;
  left: 30vw;
  height: 33vh;

}

.team-member-3 {
  bottom: 0;
  left: 49vw;
  height: 26vh;
  opacity: 0.4;

}

.team-member-4 {
  bottom: 0;
  left: 63vw;
  height: 22vh;
  opacity: 0.4;

}

.left-leave {
  opacity: 1;
}

.left-leave.left-leave-active {
  left: 20vw;
  opacity: 0;

  transition: left 1s, opacity 1s;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}