.circle01 {
  top: 3vw;
  left: 32vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  filter: blur(.5vw);
  animation: float 5s ease-in-out infinite;
}
  
.circle02 {
  top:2vh;
  right: 20vw;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  filter: blur(.5vw);
  animation: float 8s ease-in-out infinite;
}
.circle03 {
  bottom: 10vh;
  left: 30vw;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  filter: blur(.5vw);
  animation: float 10s ease-in-out infinite;
}
.circle04 {
  top: 6vh;
  right: 5vw;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
  filter: blur(.5vw);
  animation: float 6s ease-in-out infinite;
}
.circle05 {
  bottom: 10vh;
  right: 10vw;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  filter: blur(.5vw);
	animation: float 7s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(5vw);
	}
	100% {
		transform: translatey(0px);
	}
}

.demo-player {
  position: absolute;
  z-index: 10;
  top: 10vh;
  left: 15vw;
  padding: 0;
}