.main-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 5% 65% 30%;
}

.filter-wrapper {
  pointer-events: none;
  height: 80vh;
  width: 15vw;
  top: 15vh;
  left: 0vw;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(2, .4fr) 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: .5vw;
  grid-row-gap: .5vh;
}

.filter-section {
  pointer-events: fill;
  top: 3%;
  left: -15vw;
  width: 100%;
  height: 100%;
  padding: .5vh 1vw;

  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 5%) repeat(3, 12%) 20%;
  gap: 2vh; */

  display: flex;
  flex-direction: column;
  gap: 2vh;

  overflow-y: scroll;
  overflow-x: hidden;

  transition: all .5s;
}

.filter-section.active {
  left: 0vw;
}

.filter-arrow {
  transform: rotate(180deg);
  transition: all .5s;
  width: 2vw;
  margin-right: 0.5vw;
}

.filter-arrow.active {
  transform: rotate(0deg);
}

.filter-header {
  pointer-events: fill;
  top: -3vh;
  left: -8vw;
  font-size: 1vw;
  height: 8%;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: all .5s;
}

.filter-header.active {
  left: 0vw;
  border-bottom-right-radius: 0px;
}

.filter-button {
  cursor: pointer;
  padding-right: 0.25vw;
  transition: all .5s;

}

.filter-button.active {
  padding-right: 0vw;
}

.ttipm {
  position: relative;
  display: inline-block;
}

.ttipm .ttiptextm {
  visibility: hidden;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1vh 1vw;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -9.5vw;
  font-size: 0.6vw;
}

.ttipm:hover .ttiptextm {
  visibility: visible;
}

.clear {
  height: 3vh;
  border-width: 1px;
  border-color: cyan;
  border-radius: 20px;
  background-color: #0A0935;
  color: rgb(255, 255, 255);
  margin: .9vh .8vw;
  margin-top: 1.2vh;
  font-size: 1vw;
}

.popup-button {
  cursor: grab;
  position: absolute;
  top: 0;
  right: 0;
  border-width: 1px;
  border-color: cyan;
  border-radius: 20px;
  background-color: #0A0935;
  color: rgb(255, 255, 255);
  padding: 0.4vh 0.8vw;
  font-size: 1vw;
}

.popup-button:hover {
  background-color: #1A1961;

}

.popup-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px cyan solid;
  background-color: #0A0935;
  border-radius: 10px;
}