.info-grid {
  display: grid;
  grid-template-columns: 1fr repeat(5, .5fr) 1fr;
  grid-template-rows: repeat(2, 5%) 10% 37% 13% 10% 10% 10%;
}

.ttip {
  position: relative;
  display: inline-block;
}

.ttip .ttiptext {
  visibility: hidden;
  width: max-content;
  background-color: rgb(3, 173, 173);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: .3vh .3vw;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 1.5vw;
  margin-left: -2vw;
  font-size: 0.8vw;
}

.ttip:hover .ttiptext {
  visibility: visible;
}