axisStyle line {
  stroke: white;
}

.axisStyle path {
  stroke: #d0d0d0;
}

.axisStyle text {
  fill: white;
  font-size: .8vw;
}

.rangetip {
  opacity: 0;
  position: absolute;
  background-color: rgb(3, 173, 173);
  z-index: 100;
  padding: 1px;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
  font-size: .8vw;
  font-weight: 400;
  color: white;
  border-radius: 5px;
}

.rangetip ::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -50px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #59C173 transparent transparent;

}